{% extends "base.html" %}
{% block title %} Music {% endblock %}
{% block content %} 
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Music</h1>
  <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" xmlns="http://www.w3.org/2000/svg" src="/static/images/daniel-connell-wurlitzer.png" width="75%" height="auto" class="center">
  <p class="lead">Here are some of my musical projects.</p>
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Collaborations <span class="text-muted">keys, recording and production.</span></h2>
      <p class="lead">
          "Heart of Gold" is a collaboration I made with my childhood friend Cameron Stiles. For this live video recording I arranged and played keys on the track. I also did all the audio tracking and post production. All audio is from one live take. It took us just a few trys.
      </p>
    </div>
    
    <div class="col-md-5">
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://www.youtube.com/embed/Uadl_NPYECs"></iframe>

        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/Uadl_NPYECs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->


    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Bands <span class="text-muted">I've played in quite a few.</span></h2>
      <p class="lead">I have played in several band in my life. Some of which I led and others where I played a set role. The most put together acts I have been a part of are: Cool Accent, Bud Bronson & the Good Timers, and imonfire.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" src="/static/images/daniel-connell-cool-accent.jpeg" height="auto" width="400" >
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Solo Projects<span class="text-muted"> I enjoy writing songs.</span></h2>
      <p class="lead">I enjoy writing my own songs and have done so since high school. While my songs are generally in the singer / songwriter genre -- I do like to experiment with folk, pop and funk as well.</p>
    </div>
    <div class="col-md-5">
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/866045058&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/dc-connell" title="car_camo_" target="_blank" style="color: #cccccc; text-decoration: none;">car_camo_</a> · <a href="https://soundcloud.com/dc-connell/sets/daniel-connell" title="Daniel Connell" target="_blank" style="color: #cccccc; text-decoration: none;">Daniel Connell</a></div>    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% endblock %}
